*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

body{
   background: #dadada;
}
a{
    text-decoration: none;
    color: inherit;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #131921;
    padding: 10px 20px;
    color: #fff;
}
.nav-country{
    display: flex;
    margin-right:px;
    font-size: 12px;
    color: #c4c4c4;

}

.nav-country img {
    filter: brightness(0) invert(1);
}
.nav-search{
    flex:1;
    display: flex;
align-items: center;
    
 color: grey;
 max-width: px;
 border-radius: 4px;
 margin-left: 15px;
}
.nav-search-category{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px ;
    gap: 5px;
    background-color: white;
    border-radius: 4px 0  0 4px;
    
}
.nav-search-input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 600PX;
    height:50px;
   
}
.nav-search-icon{
    max-width: 41px;
    padding: 8px;
    background: #ffd64f;
    border-radius: 0px 4px 4px  0px;

}

.nav-language{
     display: flex;
     align-items: center;
     gap: 2px;
     font-weight: 600;
     margin-right:0px 10px;

}
.nav-text p{
    display: flex;
     font-size: 12px;
   margin: 0px  25px;

}

.nav-text h1{
    font-size: 12px;
    display: flex;
    margin: 0px 25px;
   
}
.nav-card{
    display: flex;
    align-items: center;
    margin: 0px  10px;
}
.nav-bottom {
      display: flex;
     align-items: center;
     gap: 20px;
     padding: 8px 20px;
     background: #232f3e;
     color: white;
     font-size: 15px;

}
.nav-bottom div {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}
.header-slider ul{
    display: flex;
    overflow-y: hidden;
    overflow: hidden;
}
.header-img{
    max-width: 100%;
    mask-image: linear-gradient(to bottom,#000000 50%, transparent 100%);
}
.header-slider a{
    position: absolute;
    top: 30%;
    z-index: 1;
    padding: 5vh 1ew;
    background: #fff;
    color: #0000007b;
    text-decoration: none;
    font-family: 600;
    font-size: 18px;
    cursor: pointer;
}
.Control_next{
    right: 0;
}
.box-row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 20px 30px;
   ;
}

.box-row1{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    margin: 10px 20px;
    gap: 20px;
    text-align: center;
    justify-content: space-between;
   
   
    
}


.box-row1 .box-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #fff;
    padding: 35px 40px;
    max-width: 26%;
    min-height:200px ;
    z-index: 1;
    
}


.box-col{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px 20px;
        background: #fff;
        max-width: 24%;
        min-height: 200px;
        z-index: 1;
       
}


.box-col a{
    font-size: 30px;
    color: #009999;
    font-weight: 400;
}

.header-box{
    margin-top: -10vw;
}

    .text-box {
    position: relative;
    align-items: center;
    justify-content: center;
   display: flex;
    background: rgba(255,255,255,0.8);
    padding: 10px 15px;
    margin-left: 70px;
   margin-top:-250px ;
    z-index: 10;         
}
.text-box a{
    font-size: 13px;
    color: #009999;
    font-weight: 500;

}

.header-box{
    margin-top: -50vw;
}

.products-slider{
    background: #fff;
    margin:  0 30px;
    padding: 20px;
    margin-bottom: 15px;
    
}

.products-slider .products{
        display: flex;
        overflow: auto;
        gap: 25px;
        margin-top: 10px;
}
.products-slider .products img{
          max-width: 200px;
          max-height:250px ;
}

.products-slider .products::-webkit-scrollbar{
    display: none;


}

.product-slider-with-prices{
   
    background: #fff;
    margin: 0 40px;
    padding: 25px;


}
 .product-img-container img{
     width: 300px;
     height: 250px;
 }